<h2>Buscar Pel&iacute;culas</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>T&iacute;tulo</mat-label>
        <input formControlName="title" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>G&eacute;nero</mat-label>
        <mat-select formControlName="genreId">
            <mat-option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName="isFutureMovie">Pr&oacute;ximo Estreno</mat-checkbox>
    </div>
    <div>
        <mat-checkbox formControlName="isNxtMovie">En Cines</mat-checkbox>
    </div>
    <div class="clear-container">
        <button mat-flat-button (click)="clear()" color="warn">Limpiar</button>
    </div>
</form>

<app-movies-list [movies]="movies"></app-movies-list>