<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon>Pel&iacute;culas
        </a>
    </span>
    <div>
        <a mat-button routerLink="/movies/search">
            <mat-icon>search</mat-icon>Buscar Pel&iacute;culas
        </a>
    </div>
    <div>
        <a mat-button routerLink="genres">G&eacute;neros</a>
    </div>
    <div>
        <a mat-button routerLink="actors">Actores</a>
    </div>
    <div>
        <a mat-button routerLink="theaters">Cines</a>
    </div>
    <div>
        <a mat-button routerLink="/movies/create">Crear Pel&iacute;culas</a>
    </div>
</mat-toolbar>